/* All styles for your Card Components live here */
.card-container {
  margin-left: 85px;
  border: 1px solid lightblue;
  border-radius: 10px;
}

.card-container:hover {
  cursor: pointer;
}

.card-banner {
  margin: 0;
}

.card-banner img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 10px 20px;
}

.card-content h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.5rem;
}

.card-content p {
  padding: 5px 0;
  font-size: 1.5rem;
  margin: 0;
}

.card-content .article-link {
  opacity: 0.5;  
}